:root {
  /* Color palette tokens */
  --color-primary: rgb(38, 152, 116);
  --color-neutral-dark: rgb(10, 6, 30);
  --color-neutral-light: rgb(233, 233, 233);
  --color-inaccesible: rgb(247, 232, 232);
  --bcgColor-inaccesible: rgb(246, 72, 72);

  /* Border */
  --border-radius: 7px;
  --border-color: black;

  /* Font-sizes */
  --font-size-extraSmall: 0.5rem;
  --font-size-small: 0.8rem;
  --font-size-regular: 1rem;
  --font-size-header: 2.5rem;

  /* Layout Spacing Tokens */
  --space-sm: 2%;
  --space-md: 6%;
  --space-lg: 10%;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(RobotoSlab-VariableFont_wght.ttf);
}
body {
  font-family: "Roboto Slab", sans-serif;
  font-size: var(--font-size-regular);
}
.hidden {
  display: none;
}
.rounded {
  border-radius: var(--border-radius);
}
.bordered {
  border: 1px solid var(--border-color);
}
.padded {
  padding: var(--space-sm);
}
.centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.theme-light {
  color: var(--color-primary);
  background-color: var(--color-neutral-light);
}
.theme-dark {
  color: var(--color-primary);
  background-color: var(--color-neutral-dark);
}
/* ELEMENTS */
.btn {
  background-color: var(--color-neutral-light);
  color: var(--color-primary);
  cursor: pointer;
}
.radio__btn--square {
}
.header {
  font-size: var(--font-size-header);
}
/* MAIN SECTION */

.wrapper {
  width: 85vw;
  height: 96vh;
  justify-self: center;
}
.input__button {
  font-size: var(--font-size-small);
  width: fit-content;
  margin-top: 2vh;
}

/* SWITCH CONTROLS AND RESULT WINDOWS */
/* .Switch-header-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
} */
.radio__description {
  color: var(--color-primary);
}
.grid {
  position: relative;
  display: grid;
  grid-template-columns: 30vw 50vw;
  grid-template-rows: 50vh;
  column-gap: 4rem;
}

.grid__first-item {
  overflow: hidden;
  padding: 2vh 2.5vw;
  .item__textbox {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: var(--font-size-regular);
  }
}

.grid__second-item {
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  padding-top: var(--space-lg);
  justify-content: center;
  align-content: center;
  .second-item__text--scaleDown {
    scale: 0.5;
    z-index: -5;
  }
}

/* ELSE */
.input__button:disabled {
  background-color: var(--bcgColor-inaccesible);
  color: var(--color-inaccesible);
}

/* ADAPTIVE DESIGN */

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-neutral-dark);
  }
}

@media screen and (max-width: 768px) {
}

